<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <title>게시글 상세</title>
</head>
<body>
    <div id="wrap" class="container">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        
        <section class="contents" layout:fragment="contents">
            <div class="post-box my-5" id="memoDetail" th:data-post-id="${post.id}">
                <h1 class="text-center">게시글 상세</h1>
                
                <div class="form-row align-items-center d-flex mb-3">
                    <label for="titleInput" class="mr-3">제목</label>
                    <div class="col">
                        <input type="text" class="form-control" id="titleInput" placeholder="제목을 입력하세요" 
                               th:value="${post.title}" readonly>
                    </div>
                </div>

                <img th:src="${post.imagePath}" alt="Post Image" class="mb-3">
                
                <textarea class="form-control mt-2" rows="10" placeholder="내용을 입력하세요" id="contentsInput" 
                          th:text="${post.contents}" readonly></textarea>
                
                <div class="d-flex justify-content-between mt-3">
                    <div>
                        <a href="#" class="btn btn-secondary" id="listBtn">목록으로</a>                    
                    </div>
                </div>

                <div class="text-right mt-3">
                    <a th:href="@{/post/edit/{id}(id=${post.id})}">수정하기</a>
                </div>

            </div>
        </section>
        
        <div id="boardType" data-board-type="/*[[${boardType}]]*/"></div>

		<script>
		    $(document).ready(function() {
		        let boardType = $("#boardType").data("board-type");
		
		        if (!boardType) {
		            alert("게시판 타입을 찾을 수 없습니다.");
		        } else {
		            $("#listBtn").attr("href", "/post/list-view/" + boardType);
		        }
		    });
		</script>


        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>
</body>
</html>
