<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

    <div id="wrap" class="container">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        
        <section class="contents" layout:fragment="contents">
            <div class="post-box my-5" id="memoDetail" th:data-post-id="${post.id}">
                <h1 class="text-center">메모 상세</h1>
                <input type="text" class="form-control mt-4" placeholder="제목을 입력하세요" id="titleInput" th:value="${post.title}">
                <textarea class="form-control mt-2" rows="10" placeholder="내용을 입력하세요" id="contentsInput" th:text="${post.contents}"></textarea>
                <img th:src="${post.imagePath}" alt="Post Image">
                <input type="file" id="fileInput" class="mt-3">
                <div class="d-flex justify-content-between mt-3">
                    <button type="button" class="btn btn-danger" id="deleteBtn">삭제</button>
                    <div>
                        <a href="/post/list-view" class="btn btn-secondary">목록으로</a>
                        <button type="button" class="btn btn-secondary" id="saveBtn">수정</button>
                    </div>
                </div>
            </div>
        </section>
                
        <script layout:fragment="script">
            $(document).ready(function() {
                $("#deleteBtn").on("click", function() {
                    let id = $("#memoDetail").data("post-id");
                    let boardType = getQueryVariable("boardType"); 
                    
                    if (confirm("정말로 이 게시글을 삭제하시겠습니까?")) {
                        $.ajax({
                            type: "DELETE",
                            url: "/post/delete",
                            data: { "id": id, "boardType": boardType },
                            success: function(data) {
                                if (data.result === "success") {
                                    let boardType = data.boardType; 
                                    if (boardType) {
                                        location.href = "/post/list-view/" + boardType;  
                                    } else {
                                        alert("게시판 타입이 잘못되었습니다.");
                                    }
                                } else {
                                    alert("삭제 실패: " + (data.message || "알 수 없는 오류 발생"));
                                }
                            },
                            error: function() {
                                alert("삭제 에러가 발생했습니다.");
                            }
                        });
                    }
                });

                $("#saveBtn").on("click", function() {
                    let title = $("#titleInput").val();
                    let contents = $("#contentsInput").val();
                    let id = $("#memoDetail").data("post-id");
                    let boardType = getQueryVariable("boardType"); 
                    
                    let formData = new FormData();
                    formData.append("id", id);
                    formData.append("title", title);
                    formData.append("contents", contents);
                    let file = $('#fileInput')[0].files[0];
                    if (file) {
                        formData.append("imageFile", file);
                    }
                    
                    $.ajax({
                        type: "PUT",
                        url: "/post/update",
                        data: formData,
                        enctype: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            if (data.result === "success") {
                                let boardType = data.boardType; 
                                if (boardType) {
                                    location.href = "/post/list-view/" + boardType;  
                                } else {
                                    alert("게시판 타입이 잘못되었습니다.");
                                }
                            } else {
                                alert("수정 실패: " + (data.message || "알 수 없는 오류 발생"));
                            }
                        },
                        error: function() {
                            alert("수정 에러!!");
                        }
                    });
                });

                function getQueryVariable(variable) {
                    let query = window.location.search.substring(1);
                    let vars = query.split("&");
                    for (let i = 0; i < vars.length; i++) {
                        let pair = vars[i].split("=");
                        if (pair[0] === variable) {
                            return decodeURIComponent(pair[1]); 
                        }
                    }
                    return null;
                }

            });
        </script>

        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>
</body>
</html>
